@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
}

.customScroll::-webkit-scrollbar {
    height: 5px;
}

.customScroll::-webkit-scrollbar-track {
    background: #f8f8f8;
}

.customScroll::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173);
}

.customScroll::-webkit-scrollbar-thumb:hover {
    background: rgb(118, 118, 118);
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
